body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9ecef;
    font-family: sans-serif;
}

main {
    width: 40%;
    min-width: 450px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: rgba(90, 87, 87, 0.35) 0 6px 12px;
}
#header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 30px 30px 20px;
    box-sizing: border-box;
    margin: 0;
}
